<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
</head>
<body>
<style>
  .oculto { visibility:hidden }
  .error { font-weight: bold ; color:darkred ; margin-top: 15px; margin-bottom: 15px}
</style>

<h3>Dan Wyry Calculeitor</h3>
<% if @error %>
    <div class="error">Error de calculo: <%= @error %> </div>
<% end %>

<div>
  <% for @o in @operandos %>
      <%= @o %>
  <% end %>
  <form method='POST'  >
    <%= csrf_token_field %>
    <input type="number" name="operando" id="operando" value="" />
    <input type="submit" id="otro_operando" name="operacion" value="Agregar operando" class="oculto"/>
    <br><br>
    <input type="submit" id="suma" name="operacion" value="Sumar" />
    <input type="submit" id="resta" name="operacion" value="Restar" />
    <input type="submit" id="promedio" name="operacion" value="Promediar" />
  </form>

  <hr/>
  <br>

  <% if @resultado  %>
      <input type='number' id="resultado" name="resultado" value="<%= @resultado %>" readonly="readonly" />
  <% else %>
      ????
  <% end %>

</div>

<script type="text/javascript">
  function init_focus(element) {
    document.getElementsByName(element)[0].focus()
  }
  init_focus('operando')
</script>

</body>
</html>